.face {
    width: 250px;
    height: 250px;
    background-color: #ff33aa;
    border-radius: 50%;
}

.mouth {
    width: 120px;
    height: 50px;
    background-color: rgb(230, 55, 55);
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 160px;
    left: 75px;
}

.left-eye,
.right-eye {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 60px;
}

.right-eye {
    left: 150px;
}